body {
    background-color: lightgray;
    font-family: sans-serif;
}

.container {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 16px;
    background-color: #ffffff;
}

table, th, td {
    border: solid 2px black;
}

table {
    /* border-spacing: 0px; */
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"] {
    width: 250px;
}

textarea{
    width: 350px;
    height: 200px;
}

input[type="submit"] {
    width: 180px;
}

select {
    width: 70px;
}

.gender {
    display: flex;
    margin-bottom: 24px;
}

form p {
    margin: 0;
}

.confirmation {
    display: flex;
    margin-bottom: 16px;
}